<div class="collapse" id="navbarToggleExternalContent">
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <a style="float: right !important;" class="h4 mb-0 text-black text-uppercase d-none d-lg-inline-block" href="/" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation"><span class="ni ni-bold-left"></span></a>

    <!-- Brand -->
    <a class="navbar-brand pt-0" href="/">
      <img src="https://camo.githubusercontent.com/5e046e6dcd957a12d637faa3f51d9b0caaaba565f1b5464cdb426233a617f768/68747470733a2f2f692e696d6775722e636f6d2f5143784f534b352e706e67" class="navbar-brand-img" alt="Logo">
    </a>
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item dropdown">
        <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ni ni-bell-55"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="<%= userDiscord.displayAvatarURL %>">
            </span>
          </div>
        </a>
        <%- include('./dropdown') %>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="./index">
              <img src="img/brand/logo-sq.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <!-- Heading -->
      <% if(userDiscord.id === ownerID || (role.includes("admin") || role.includes("owner"))) { %>
        <h6 class="navbar-heading text-muted">Administration??</h6>
      <% } %>
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="ni ni-tv-2 text-primary"></i> wtf is dis
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/players">
              <i class="ni ni-tv-2 text-primary"></i> Players ?
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="ni ni-single-02 text-yellow"></i> User profile ??
            </a>
          </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-server text-yellow"></i>  <%= translate("dashboard:SERVERS_LIST") %></a>
          <div style="width: 98%;" class="dropdown-menu">
            <h6 class="dropdown-header text-green">Servers You Own (Owner)</h6>
            <% if(userDiscord.displayedGuilds){ %>
              <% userDiscord.displayedGuilds.forEach((guild) => { %>
                <% if(guild.owner) { %>
                  <% if(guild.name.length > 20) { %>
                    <a class="dropdown-item p-2 text-<%= guild.owner ? 'blue' : 'grey' %>" href="<%= guild.settingsUrl %>"><%= guild.name.slice(0, 20)+"..." %></a>
                  <% } else { %>
                    <a class="dropdown-item p-2 text-<%= guild.owner ? 'blue' : 'grey' %>" href="<%= guild.settingsUrl %>"><%= guild.name %></a>
                  <% } %>
                <% } %>
              <% }); %>
            <% } %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header text-yellow">Other Servers (Admin)</h6>
              <% if(userDiscord.displayedGuilds){ %>
                <% userDiscord.displayedGuilds.forEach((guild) => { %>
                  <% if(!guild.owner) { %>
                    <% if(guild.name.length > 20) { %>
                      <a class="dropdown-item p-2 text-<%= guild.owner ? 'blue' : 'grey' %>" href="<%= guild.settingsUrl %>"><%= guild.name.slice(0, 20)+"..." %></a>
                    <% } else { %>
                      <a class="dropdown-item p-2 text-<%= guild.owner ? 'blue' : 'grey' %>" href="<%= guild.settingsUrl %>"><%= guild.name %></a>
                    <% } %>
                  <% } %>
                <% }); %>
            <% } %>
          </div>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" href="/icons">
            <i class="ni ni-planet text-blue"></i> Icons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maps">
            <i class="ni ni-pin-3 text-orange"></i> Maps
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tables">
            <i class="ni ni-bullet-list-67 text-red"></i> Tables
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="ni ni-key-25 text-info"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="ni ni-circle-08 text-pink"></i> Register
          </a>
        </li> -->
      </ul>
      <hr class="my-3">
      <h6 class="navbar-heading text-muted">OWNER SECTION</h6>
      <ul class="navbar-nav">
      <!-- Divider -->
     
      <!-- Heading -->
      
      <li class="nav-item">
          <% if(userDiscord.id === ownerID || role.includes("owner")){ %>
            <a class="nav-link" href="/manage/<%= serverID %>">
              <i class="ni ni-ui-04 text-black"></i> Configure Server
            </a>
            <a class="nav-link" href="/roles %>">
              <i class="ni ni-badge text-blue"></i> Server Whitelists
            </a>
          <% } %>
      </li>
      <!-- Navigation -->
      <!-- <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a class="nav-link" href="https://argon-dashboard-nodejs.creative-tim.com/docs/getting-started/overview">
            <i class="ni ni-spaceship"></i> Getting started
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" https://argon-dashboard-nodejs.creative-tim.com/docs/foundation/colors">
            <i class="ni ni-palette"></i> Foundation
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://argon-dashboard-nodejs.creative-tim.com/docs/components/alerts">
            <i class="ni ni-ui-04"></i> Components
          </a>
        </li>
      </ul> -->
      </ul>
    </div>
  </div>
</nav>
</div>