<!DOCTYPE html>
<html>

<%- include('./includes/head') %>
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    </link>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <body>
        <!-- The sidebar includes the menu -->
        <%- include('./partials/sidebar') %>
            <div class="main-content">
                <!-- Top navbar -->
                <%- include('./partials/navbar') %>
                    <!-- Header -->
                    <%- include('./partials/header') %>

                        <div class="container-fluid mt--7">
                            <div class="card bg-gradient-neutral shadow p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <div class="widget-user-header bg-aqua-active">
                                                <h3 class="widget-user-username">Banned Users</h3>
                                            </div>
                                            <table id="datatable" class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th>SteamID</th>
                                                        <th>Reason</th>
                                                        <th>Expire Date</th>
                                                        <th>Moderator</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(const user in banlisted) {%>
                                                        <tr id="<%- banlisted[user].steamID %>">
                                                            <td>
                                                                <%- banlisted[user].steamID %>
                                                            </td>
                                                            <td>
                                                                <%- banlisted[user].reason %>
                                                            </td>
                                                            <td>
                                                                <%- new Date( banlisted[user].endDate ).toLocaleString('en-GB', { hour12:false } ) %>
                                                            </td>
                                                            <td>
                                                                <%- banlisted[user].moderator %>
                                                            </td>
                                                            <td>
                                                                <button
                                                                    onclick="removeBanlist('<%- banlisted[user].steamID %>')"
                                                                    class="btn btn-outline-primary badge rounded-pill active">Remove</button>
                                                            </td>
                                                        </tr>
                                                        <% }; %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card bg-gradient-neutral shadow p-2">
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <i class="fas fa-gavel"></i>
                                                    <span>Offline Ban</span>
                                                </h4>
                                                <input minlength="10" maxlength="18"
                                                    class="form-control text-center mx-auto"
                                                    placeholder="Type STEAM64ID" id="steamID"></input>
                                                <div class="all mx-auto d-flex">
                                                    <div class='length mx-auto text-center d-inline-block'>
                                                        <h4>Length</h4>
                                                        <input type='number' min="1" id='banLength' class='swal2-input'
                                                            style='position:relative; bottom: 20px; max-width: 100px; height: 47px;'></input>
                                                    </div>
                                                    <div class='type mx-auto  text-center d-inline-block'>
                                                        <h5>Type</h5>
                                                        <select id='selection' class="swal2-select"
                                                            style='position:relative; border: 1px solid #d9d9d9; border-radius: 5px; bottom: 22px; min-width: 100px; min-height: 50px;'>
                                                            <option id="m">Minutes</option>
                                                            <option id="d">Days</option>
                                                            <option id="M">Months</option>
                                                            <option id="P">Perma</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class='reason mx-auto text-center d-block' style='width:400px'>
                                                    <h2>Reason:</h2>
                                                    <input id='reason' class='swal2-input mx-auto d-block'
                                                        style='position:relative; bottom: 5px; width: 400px;'></input>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary mt-2"
                                                onclick="banPlayer()">Ban</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Show Remote Banlist URL</h3>
                                            <h6>Put this URL to your remoteBanlist.cfg file</h6>
                                        </div>
                                        <pre id="urlTolist">*****************************************************</pre>
                                        <button class="btn btn-secondary" onclick="getListURL()"><i id="eyeURL"
                                                class="fa fa-eye-slash"></i></button>
                                        <button class="btn btn-info" onclick="regenToken()">Regenerate Token</button>
                                    </div>
                                </div>
                            </div>

            <%- include('./partials/whiteban') %>
                <!-- /.content-wrapper -->
                <%- include('./partials/footer') %>
                    <!-- ./wrapper -->
                    <%- include('./partials/scripts') %>

    </body>

</html>