<!DOCTYPE html>
<html>

<%- include('./includes/head') %>
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    </link>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <body>
        <!-- The sidebar includes the menu -->
        <%- include('./partials/sidebar') %>
            <div class="main-content">
                <!-- Top navbar -->
                <%- include('./partials/navbar') %>
                    <!-- Header -->
                    <%- include('./partials/header') %>

                        <div class="container-fluid mt--7">
                            <div class="card bg-gradient-neutral shadow p-5">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card mt-4">
                                            <div class="card-body">
                                                <h2 class="card-title">
                                                    <i class="fas fa-gavel"></i>
                                                    <span>Offline Ban</span>
                                                </h2>
                                                <h4 class="card-title">
                                                    <span>User Steam64ID</span>
                                                </h4>
                                                <input minlength="17" maxlength="17"
                                                    class="form-control text-center mx-auto"
                                                    autocomplete="off"
                                                    placeholder="STEAM64ID" id="steamID"></input>
                                                <div class="all mx-auto d-flex">
                                                    <div class='type mx-auto'>
                                                        <h5>Type</h5>
                                                        <select id='selection' class="custom-select" style="min-width: 8rem;">
                                                            <option id="m">Minutes</option>
                                                            <option id="d">Days</option>
                                                            <option id="M">Months</option>
                                                            <option id="P">Perma</option>
                                                        </select>
                                                        <div class='length mx-auto'>
                                                            <h4>Length</h4>
                                                            <input type='number' id='banLength' class="custom-select" style="min-width: 2rem;"></input>
                                                        </div>
                                                        <div class='reason mx-auto'>
                                                            <h4>Reason:</h4>
                                                            <input id='reason' class='input-group-text'
                                                                style='min-width: 2rem;'></input>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                            <div class="d-flex justify-content-center">
                                            <div class="col-6 text-center">
                                                <button type="button" class="btn btn-lg btn-primary mt-2 mb-4"
                                                    onclick="banPlayer()"><i class="fas fa-gavel"></i> Ban</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 mt-4">
                                        <div>
                                            <div class="widget-user-header bg-aqua-active">
                                                <h3 class="widget-user-username">Banned Users</h3>
                                            </div>
                                            <table id="datatable" class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th>Expired</th>
                                                        <th>SteamID</th>
                                                        <th>Reason</th>
                                                        <th>Expire Date</th>
                                                        <th>Moderator</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(user in allBannedUsers) {%>
                                                        <tr id="<%- allBannedUsers[user].steamID %>">
                                                            <td>
                                                                <%= allBannedUsers[user].active ? "🟢 Active" : "🔴 Expired" %>
                                                            </td>
                                                            <td>
                                                                <%- allBannedUsers[user].steamID %>
                                                            </td>
                                                            <td>
                                                                <span id="tippy_<%- user %>"><%- (allBannedUsers[user].reason.length > 15) ? allBannedUsers[user].reason.substring(0, 15) + "..." : allBannedUsers[user].reason %></span>
                                                            </td>
                                                            <td>
                                                                <%- (allBannedUsers[user].endDate == "0") ? "Permanent Ban" : new Date( allBannedUsers[user].endDate ).toLocaleString( { hour12:false } ) %>
                                                            </td>
                                                            <td>
                                                                <%- allBannedUsers[user].moderatorName %>
                                                            </td>
                                                            <% if(allBannedUsers[user].active) {%>
                                                                <td>
                                                                    <button onclick="removeBan('<%- allBannedUsers[user].steamID %>', '<%- allBannedUsers[user].endDate %>')" class="btn btn-outline-primary badge rounded-pill active">Expire</button>
                                                                    <button onclick="editBanList('<%- allBannedUsers[user].steamID %>', '<%- allBannedUsers[user].endDate %>')" class="btn btn-outline-primary badge rounded-pill active">Edit</button>
                                                                </td>
                                                            <% } else { %>
                                                                <td>
                                                                </td>
                                                            <% } %>
                                                        </tr>
                                                        <script>
                                                            tippy(document.getElementById(`tippy_<%= user %>`), {
                                                                    content: `<%= allBannedUsers[user].reason %>`,
                                                                    allowHTML: false,
                                                                    zIndex: 1,
                                                                    maxWidth: '18rem',
                                                                    trigger: 'mouseenter click',
                                                                    interactive: true,
                                                                });
                                                        </script>
                                                    <% }; %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Show Remote Banlist URL</h3>
                                            <h6>Put this URL to your remoteBanlist.cfg file</h6>
                                        </div>
                                        <pre id="urlTolist">*****************************************************</pre>
                                        <button class="btn btn-secondary" onclick="getListURL()"><i id="eyeURL"
                                                class="fa fa-eye-slash"></i></button>
                                        <button class="btn btn-info" onclick="regenToken()">Regenerate Token</button>
                                    </div>
                                </div>
                            </div>

            <%- include('./partials/whiteban') %>
                <!-- /.content-wrapper -->
            <%- include('./partials/footer') %>
                    <!-- ./wrapper -->
            
            <script>
                // if selection option is changed and choosen option is "P" then disable the length input field
                $('#selection').change(function () {
                    if ($(this).val() == "Perma") {
                        $('#banLength').prop('disabled', true);
                    } else {
                        $('#banLength').prop('disabled', false);
                    }
                });
            </script>

    </body>

</html>
