<!DOCTYPE html>
<html>
	<%- include('includes/head') %>
	<body>
		<!-- The sidebar includes the menu -->
		<%- include('./partials/sidebar') %>
		<div class="main-content">
		<!-- Top navbar -->
		<%- include('./partials/navbar') %>
		<!-- Header -->
		<%- include('./partials/header') %>

			<!-- Content Wrapper. Contains page content -->
			<div class="container-fluid mt--7">
				<div class="card bg-gradient-neutral shadow p-5">
                    <div class="col-12 mb-4">
                        <div class="m-2">
                            <div class="text-center">
                                <img src="<%= clan.logo %>" width="150" height="150" class="rounded-circle">
                            </div>
                        </div>
                        <div class="text-center">
                            <h1><%= clan.name %></h1>
                            <h5>Clan Size: <span class="badge badge-dark"><%- clan.size %></span> </h5>    
                            <h5>Whitelist Limit: <span class="badge badge-dark"><%- clanWhitelisted %>/<%- clanWhiteLimit %></span>  </h5>   
                            <h5>Recruit Status:
                            <input id="<%= clan.id %>" onchange="toggleRecruitStatus('<%= clan.id %>')" name="toggle-test" type="checkbox" data-style="ios" data-toggle="toggle" data-size="xs" data-on="OPEN" data-off="CLOSE" <%= clan.recruitStatus ? "checked" : "" %> >  </h5> 
                            
                            <button type="button" onclick='leaveClan("<%- userDiscord.steam.steamid %>","<%- clan.id %>")' style="font-size: 12px !important;" class="badge btn btn-danger">Leave Clan</button>
                        </div>
                    </div>
					<div class="row">
                        <div class='mx-auto card  p-1'>
                            <div class="widget-member-header bg-aqua-active">
                                <h3 class="widget-member-membername text-center"> <%- userClan.name %> Clan Members</h3>
                            </div>
                            
                            
                            <table id="datatable" class="table datatable text-center">
                                <thead>
                                    <tr>
                                        <th>Player Name</th>
                                        <th>SteamID</th>
                                        <th>Whitelist</th>
                                        <% for(role in userRoles ) { %>
                                            <% if( userRoles[role] === "clan leader" || userRoles[role] === "clan manager" || userRoles[role] === "owner" ) { %>  
                                        <th>Actions</th>
                                            <% } %> 
                                        <% } %> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(member in clanMembers) {%>
                                        <tr id="<%- clanMembers[member].steam.steamid %>">
                                            <td>
                                                <%- clanMembers[member].steam.personaname %>
                                            </td>
                                            <td>
                                                <%- clanMembers[member].steam.steamid %>
                                            </td>
                                            <td>
                                                <%= clanMembers[member].whitelist.byClan ? "🟢 Active" : "🔴 Disabled" %>
                                            </td>
                                        <% for(role in userRoles ) { %>
                                            <% if( userRoles[role] === "clan leader" || userRoles[role] === "clan manager" || userRoles[role] === "owner" ) { %>  
                                            <td>
                                                <% if (clanMembers[member].whitelist.byClan )  { %>
                                                <button type="button" onclick="removeWhitelistFromUser('<%- clanMembers[member].steam.steamid %>')" style="font-size: 10px !important;" class="badge btn btn-danger">Remove WL</button>
                                                <% }else {%>
                                                <button type="button" onclick="giveWhitelistToUser('<%- clanMembers[member].steam.steamid %>')" style="font-size: 10px !important;" class="badge btn btn-success">Add WL</button>
                                                <%}%>
                                                <% if (userRoles[role] != "clan manager" && userRoles[role] != "clan leader")  { %>
                                                <button type="button" onclick='giveManager("<%- clanMembers[member].id %>")' style="font-size: 10px !important;" class="badge btn btn-warning">Give Manager</button>
                                                <% } if(clanMembers[member].id != userDiscord.id) { %> 
                                                <button type="button" style="font-size: 10px !important;" class="badge btn btn-dark">Kick</button>
                                                <% } %>
                                            </td>
                                        </tr>
                                            <% } %> 
                                        <% } %> 
                                    <% }; %>
                                </tbody>
                            </table>
                            <% for(role in userRoles) { %>
                                <% if( userRoles[role] === "clan leader" || userRoles[role] === "clan manager" || userRoles[role] === "owner" ) { %> 
                                    <button type="button" onclick="showAllOpenApplications('<%-clan.id%>')" style="top: 10px; font-size: 10px !important; width: 100%;" class="btn btn-dark">Applications</button>
                                <% } %> 
                            <% } %> 
                        </div>

                        <!-- show all manualWhitelistedUsers -->
                        <div class='mx-auto card p-1'>
                            <div class="widget-member-header bg-aqua-active">
                                <h3 class="widget-member-membername text-center">Whitelisted Users</h3>
                            </div>
                            <table id="datatable2" class="table datatable2 text-center">
                                <thead>
                                    <tr>
                                        <th>Player Name</th>
                                        <th>SteamID</th>
                                        <th>Whitelist</th>
                                        <% for(role in userRoles ) { %>
                                            <% if( userRoles[role] === "clan leader" || userRoles[role] === "clan manager" || userRoles[role] === "owner" ) { %>  
                                        <th>Actions</th>
                                            <% } %> 
                                        <% } %> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(user in userClan.manualWhitelistedUsers) { %>
                                        <tr id="<%= user.steamID %>">
                                            <td>
                                                <%= userClan.manualWhitelistedUsers[user].name %>
                                            </td>
                                            <td>
                                                <%= userClan.manualWhitelistedUsers[user].steamID %>
                                            </td>
                                            <td>
                                                <%= userClan.manualWhitelistedUsers[user]['whitelisted'] ? "🟢 Active" : "🔴 Disabled" %>
                                            </td>
                                            <% for(role in userRoles ) { %>
                                                <% if( userRoles[role] === "clan leader" || userRoles[role] === "clan manager" || userRoles[role] === "owner" ) { %>  
                                                <td>
                                                    <% if (userClan.manualWhitelistedUsers[user].whitelisted)  { %>
                                                        <button type="button" onclick="removeWhitelistFromUserManual('<%- userClan.manualWhitelistedUsers[user].steamID %>', '<%- clan.id %>')" style="font-size: 10px !important;" class="badge btn btn-danger">Remove WL</button>
                                                    <% } else {%>
                                                        <button type="button" onclick="giveWhitelistToUserManual('<%- userClan.manualWhitelistedUsers[user].steamID %>', '<%- clan.id %>')" style="font-size: 10px !important;" class="badge btn btn-success">Add WL</button>
                                                    <%};%>
                                                    <% if (userRoles[role] != "clan manager" && userRoles[role] != "clan leader")  { %>
                                                        <button type="button" onclick="removeUserManual('<%- userClan.manualWhitelistedUsers[user].steamID %>', '<%- clan.id %>')" style="font-size: 10px !important;" class="badge btn btn-warning">Kick</button>
                                                    <% } %>
                                                </td>
                                                <% } %>
                                            <% } %>
                                        </tr>
                                    <% }; %> 
                                </tbody>
                            </table>
                            <% for(role in userRoles) { %>
                                <% if( userRoles[role] === "clan leader" || userRoles[role] === "clan manager" || userRoles[role] === "owner" ) { %> 
                                    <button type="button" onclick="showAddMemberModal('<%-clan.id%>')" style="top: 10px; font-size: 10px !important; width: 100%;" class="btn btn-dark">+ Add Manual SteamID</button>
                                <% } %> 
                            <% } %> 
                        </div>
                    </div>
                </div>
                <%- include('./partials/clan') %>
			<%- include('./partials/footer') %>
			</div>
		</div>
	</body>
</html>