<!DOCTYPE html>
<html>
	<%- include('includes/head') %>
	<%- include('includes/socketio') %>
	<body>
		<!-- The sidebar includes the menu -->
		<%- include('./partials/sidebar') %>
		<div class="main-content">
		<!-- Top navbar -->
		<%- include('./partials/navbar') %>
		<!-- Header -->
		<%- include('./partials/header') %>
		
		<style>
			.card-body .container{
				flex-wrap: wrap;
				max-width: 100%;
			}
			.current img{

				border-radius: 12.5px;
				border: 1px solid rgba(0,0,0,.05);
				background-color: #f3f3f3;
				padding: 10px;

			}
			.next img{

				border-radius: 12.5px;
				border: 1px solid rgba(0,0,0,.05);
				background-color: #f3f3f3;
				padding: 10px;

			}			
			.previous img{
				border-radius: 12.5px;
				border: 1px solid rgba(0,0,0,.05);
				background-color: #f3f3f3;
				padding: 10px;
				width: 130px;
				opacity: .25;
			}
		</style>

			<!-- Content Wrapper. Contains page content -->
			<div class="container-fluid mt--7">
				<div class="card bg-gradient-neutral shadow p-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card bg-gradient-neutral shadow p-2">
								<div class="card-body">
									<div class="container d-flex mx-auto p-2">
										<div class="previous d-inline-block mx-auto px-2">
											<%- include('./partials/currentMap') %>
											<h4 class="card-title text-center">
												<i class="fas fa-map"></i>
												Previous Map
											</h4>
											<img id="<%= previusMap %>"onError='noImageFound("<%= previusMap %>")' src="https://raw.githubusercontent.com/Squad-Wiki-Editorial/squad-wiki-pipeline-map-data/master/completed_output/_Current%20Version/images/<%= previusMap %>.jpg" alt="<%= previusMap %>">
										</div>
										<div class="current d-inline-block mx-auto px-2">
											<h4 class="card-title text-center">
												<i class="fas fa-map"></i>
												Current Map 
											</h4>
										</div>
										<div class="next d-inline-block mx-auto px-2">
											<h4 class="card-title text-center">
												<i class="fas fa-map"></i>
												Next Map
											</h4>
										</div>
									</div>
									<div class="buttons mx-auto d-flex">
										<button id="setCurrentMap" type="button" class="btn btn-primary mt-2d mx-auto d-inline-block">Change Map</button>
										<button id="setNextMap" type="button" class="btn btn-primary mt-2d mx-auto d-inline-block">↷ Set Next Map</button>
									</div>
									

								</div>
							</div>
					</div>
					</div>
					<div class="row mt-2">
                        <!-- Make 2 tables next to each other -->
						<div class="col-md-6">
							<div class="card bg-gradient-neutral shadow p-2">
								<div class="card-body">
									<h4 class="card-title">
										<i class="fas fa-chart-bar"></i>
										<span>Send Admin BroadCast</span>
									</h4>
									<textarea rows="4" type="text" class="form-control" placeholder="Type your message..." id="messageToBroadCast"></textarea>
									<button type="button" class="btn btn-primary mt-2" onclick="sendBroadCast()">Send</button>
								</div>
							</div>
						</div>
						<script>
						function sendBroadCast(){
							// TODO: Save this via logger class (ALSO TODO: Add a way to save this message to the database)
							let message = document.getElementById("messageToBroadCast").value;
							socket.emit("rcon.broadcast", message, () => {
								Swal.fire({
									title: 'Sending your message',
									html: `<pre><code>${message}</code></pre>`,
									timer: 2000,
									timerProgressBar: true,
									didOpen: () => {
										Swal.showLoading()
									},
								}).then((result) => {
								/* Read more about handling dismissals below */
									if (result.dismiss === Swal.DismissReason.timer) {
										Swal.fire(
											'Broadcast has been send.',
											'success'
										)
									}
								})
								let xhr = new XMLHttpRequest();
								xhr.open("POST", `${window.location.origin}/squad-api/broadcast`, true);
								xhr.setRequestHeader('Content-Type', 'application/json');
								xhr.send(JSON.stringify({
									content: message,
								}));
							});
							document.getElementById("messageToBroadCast").value = "";
						}
							</script>
				</div>
				<!-- Footer includes credits and version -->
			</div>
			<%- include('./partials/footer') %>
		</div>
		<%- include('./partials/scripts') %>
	</body>
</html>
