<!DOCTYPE html>
<html>
	<%- include('includes/head') %>
	<body>
		<!-- The sidebar includes the menu -->
		<%- include('./partials/sidebar') %>
		<div class="main-content">
		<!-- Top navbar -->
		<%- include('./partials/navbar') %>
		<!-- Header -->
		<%- include('./partials/header') %>

			<!-- Content Wrapper. Contains page content -->
			<div class="container-fluid mt--7">
				<div class="card bg-gradient-neutral shadow p-5">

					<div class="row">
					<!-- Center a big :( Emoji and write below it cenetered "We will shortly fill this page with amazing content for you!"-->
						<div class="col-lg-12">
							<div class="text-center">
								<i class="fas fa-smile-wink fa-10x"></i>
								<h1 class="display-4">We will shortly fill this page with amazing content for you!</h1>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer includes credits and version -->
			<%- include('./partials/footer') %>
			</div>
		</div>
		<%- include('./partials/scripts') %>
	</body>
</html>
