<!DOCTYPE html>
<html>
	<%- include('includes/head') %>
	<body>
		<!-- The sidebar includes the menu -->
		<%- include('./partials/sidebar') %>
		<div class="main-content">
		<!-- Top navbar -->
		<%- include('./partials/navbar') %>
		<!-- Header -->
		<%- include('./partials/header') %>

			<!-- Content Wrapper. Contains page content -->
			<div class="container-fluid mt--7">
				<div class="card bg-gradient-neutral shadow p-5">

					<div class="row">
					<!-- Center a big :( Emoji and write below it cenetered "We will shortly fill this page with amazing content for you!"-->
						<div class="col-lg-12">
							<div class="text-center">
								<i class="fas fa-smile-wink fa-10x"></i>
								<h1 class="display-4">We will shortly fill this page with amazing content for you!</h1>
							</div>
							<div class="col-lg-12 text-center">
								<div class="box box-solid m-2">
									<div class="box-header text-center">
										<h3 style="text-align: center !important;" class="box-title"><i class="fas fa-crown"></i> <%= guild.name %></h3>
									</div>
									<!-- /.box-header -->
									<div class="box-body m-2">
										<div class="text-center">
											<img src="<%= guild.icon %>" style="border-radius:100%" width="100" height="100" class="img-fluid">
										</div>
									</div>
									<!-- /.box-body -->
									<div class="box-footer mb-3">
										<a href="<%= guild.settingsURL %>"><button class="btn btn-block btn-success"><%= translate("dashboard:MANAGE") %></button></a>
									</div>
									<!-- /.box-footer -->
								</div>
								<!-- /.box -->
							</div>
							<!-- /.col -->
						</div>
					</div>
				</div>
				<!-- Footer includes credits and version -->
			<%- include('./partials/footer') %>
			</div>
		</div>
		<%- include('./partials/scripts') %>
	</body>
</html>
